@use './variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuentePrincipal;
    background-color: v.$primario;
    font-size: 1.6rem;
}
#root {
    display: flex;
    min-height: 100dvh;
}
#root > div {
    display: flex;
    flex-direction: column;
    flex: 1;
}
[class$="__contenedor"] {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
img {
    width: 100%;
    display: block;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}