// Fuentes
$fuentePrincipal: "Spectral", serif;
$fuenteHeading: "PT Serif", serif;
$fuenteSnippet: "Fira Sans", serif;

// Colores
$primario: #F8FAFC;
$secundario: #D9EAFD;
$terciario: #BCCCDC;
$gris: #9AA6B2;
$blanco: #FFFFFF;
$negro: #000000;

// Breakpoints
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktop-xxl: 1200px;